@font-face {
    font-family: 'roboto'; 
    src: url(Roboto-Regular.ttf);
}
@font-face {
    font-family: 'roboto-bold';     
    src: url(Roboto-Bold.ttf);
}
:root {
    --Tomato: hsl(4, 100%, 67%);
    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
}

            /* css reset */

*::before,
*::after {
    box-sizing: border-box;
}
html:focus-within {
    scroll-behavior: smooth;
}
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}
a:not([class]) {
    text-decoration-skip-ink: auto;
}
textarea,
select {
    font: inherit;
}
*,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
}
            /*            */
body {
    background-color: var(--dark-slate-grey);
    height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}
.heading {
    font-size: 35px;
    margin: 35px 0 30px 0;
}
h1{
    font-family:'roboto-bold';
}
p {
    font-family: 'roboto';
    color: var(--grey);
    font-size: 16px;
    margin: 10px 0 10px 0;
}
.updates {
    display: flex;
    column-gap: 5px;
}
.background {
    display: grid;
    place-items: center;
    height: 100%;
    
}
.container {
    display: grid;
    grid-template-columns: 56% 0%;
    width: 700px;
    background-color: var(--white);
    padding: 20px;
    border-radius: 10px;
}
.content {
    margin: 0px 20px 0px 15px;
}
section {
    background-color: var(--white);
}
.img2 {
    height: 450px;
}
h5 {
    margin: 20px 0 5px 0;
}
.input1 {
    border-radius: 5px;
    height: 35px;
    width: 300px;
    background-color: var(--white);
    border: solid gray 2px;
}
.input2 {
    cursor: pointer;
    margin-top: 15px;
    height: 40px;
    width: 307px;
    border-radius: 5px;
    background-color: var(--dark-slate-grey);
    color: var(--white);
}
input,button{
    font-family: 'roboto';
}
span {
    color: var(--Tomato);
    margin: 20px 0 0 0;
}
.unsuccess {
    display: flex;
    gap: 90px;
}

/* success */
.success{
    display: grid;
    place-items: center;
    height: 100%;
    display: none;
}
.container2 {
    background-color: var(--white);
    width: 300px;
    border-radius: 10px;
    padding: 40px;
}
b {
    color: rgb(70, 66, 66);
}
.button {
    height: 50px;
    width: 300px;
    border-radius: 10px;
    background-color: var(--dark-slate-grey);
    color: var(--white);
}

/* mobile */

@media (max-width: 600px) {
    *{
        margin: 0;
    }
    body{
        height: 90vh;
    }
    .background{
        height: 0;
    }
    .container {
        display: grid;
        grid-template-columns: 100%;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .updates{
        margin-top: 20px;
    }
    .img2{
        width: 100%;
        height: 100%;
    }
    picture{
        display: block;
    }
    .unsuccess{
        margin-bottom: 5px;
        justify-content: center;
    }
    .unsuccess>span{
        width: 120px;
    }
    span{
        font-size: 12px;
    }
    .background{
        margin: 0;
    }
    .container section:nth-of-type(1) {
        order: 2;
    }

    .container section:nth-of-type(2) {
        order: 1;
    }
    input,.input2{
        display: block;
        margin: auto;
    }
    .input1{
        height: 60px;
        margin-bottom: 20PX;
    }
    .input2{
        height: 67px;
        margin-bottom: 25px;
    }
}
